@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,700&subset=vietnamese');

html,
body {
    width: initial !important;
    height: initial !important;
}

#root {
    min-height: 100vh;
}

.child-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
}

.w-100 {
    width: 100% !important;
}