html,
body {
    width: initial !important;
    height: initial !important;
    font-family: 'Source Sans Pro', sans-serif !important;
}

#root {
    min-height: 100vh;
}

.child-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
}

.w-100 {
    width: 100% !important;
}